<!DOCTYPE html>
<html lang="en no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    
    <title>Realbuzz App</title>
    <base href="/">
    <link rel="stylesheet" href="/css/app.min.css" type="text/css">

  </head>
  <body>
    <h1>Realbuzz App</h1>

    <p>Put your content here</p>
    <ul>
        <li>list item</li>
    </ul>
    
    <script src="/js/lib/jquery-3.1.0.min.js"></script>
    <script src="/js/App.min.js"></script>
    <script>
      App.init(); //Initialize App.js
    </script>

  </body>
</html>